:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --dk-blackish-blue: hsl(219, 29%, 14%);
    --xdk-grayish-blue: hsl(217, 19%, 35%);
    --l-gray: hsl(0, 0%, 81%);
    --l-grayish-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--l-gray);

    font-family: 'Barlow Semi Condensed', sans-serif;

    margin: 0;
    padding: 0;
}

.testimonials {
    margin: 4rem auto;
    width: 20rem;
}

.tm {
    background-color: bisque;
    border-radius: 0.75rem;

    height: auto;

    padding:1.5rem 2rem 2rem 2rem;
}

.tm:not(:last-child) {
    margin-bottom: 1.5rem;
}

.tm-grad {
    display: flex;
    align-items: flex-start;

    font-size: 0.8125rem;
}

.tm-grad-img {
    margin-right: 1rem;
}

.tm-grad-img img {
    border-radius: 50%;
    width: 2rem;
}

.tm-grad-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tm-grad-verified-grad {
    font-size: 0.8125rem;
    opacity: 50%;
}

.tm-review-title {
    font-size: 1.2rem;
    text-align: justify;
    margin: 1rem 0;
}

.tm-review-para {
    font-size: 0.8125rem;
}

.tm-review-para p {
    margin: 0;
    opacity: 70%;
}

.tm-1, .tm-2 {
    color: var(--white);
}

.tm-1 {
    background-color: var(--moderate-violet);
 
    background-image: url('../images/bg-pattern-quotation.svg');
    background-position: 85% 0%;
    background-repeat: no-repeat;
}

.tm-1 .tm-grad-img img {
    border: solid 2px hsl(0, 0%, 100%, 0.5);
}

.tm-2 {
    background-color: var(--xdk-grayish-blue);
}

.tm-3, .tm-5 {
    background-color: var(--white);
    color: var(--xdk-grayish-blue);
}

.tm-4 {
    background-color: var(--dk-blackish-blue);
    color: var(--white);
}

.tm-4 .tm-grad-img img {
    border: solid 2px var(--moderate-violet);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(min-width: 37.5rem) {
    .testimonials {
        width: 30rem;
    }
}

@media(min-width: 48rem) {
    .testimonials {
        width: 45rem;
    }
}